---
import type { Work } from '../lib/microcms';

type Props = {
  work: Work;
};

const { work } = Astro.props;
---

<article class="work-card">
  <a class="work-card__link" href={`/articles/${work.id}/`}>
    {work.thumbnail?.url ? (
      <picture>
        <source
          type="image/webp"
          media="(max-width: 540px)"
          srcset={`${work.thumbnail.url}?fm=webp&w=540 1x, ${work.thumbnail.url}?fm=webp&w=540&dpr=2 2x`}
        />
        <source
          type="image/webp"
          srcset={`${work.thumbnail.url}?fm=webp&fit=crop&w=240&h=135 1x, ${work.thumbnail.url}?fm=webp&fit=crop&w=240&h=135&dpr=2 2x`}
        />
        <img
          class="work-card__image"
          src={work.thumbnail.url}
          alt=""
          width={work.thumbnail.width}
          height={work.thumbnail.height}
          loading="lazy"
        />
      </picture>
    ) : (
      <img class="work-card__image" src="/no-image.png" alt="No Image" loading="lazy" />
    )}
    <div class="work-card__body">
      <h2 class="work-card__title">{work.title}</h2>
    </div>
  </a>
</article>
